# Fichiers QtCreator.
*.user
*.user.*
a.out
gmon.out
test.db
config.json

logiciels/kuri/arbre_syntaxique/allocatrice.cc
logiciels/kuri/arbre_syntaxique/allocatrice.hh
logiciels/kuri/arbre_syntaxique/assembleuse.cc
logiciels/kuri/arbre_syntaxique/assembleuse.hh
logiciels/kuri/arbre_syntaxique/noeud_expression.cc
logiciels/kuri/arbre_syntaxique/noeud_expression.hh
logiciels/kuri/arbre_syntaxique/noeud_code.cc
logiciels/kuri/arbre_syntaxique/noeud_code.hh
logiciels/kuri/arbre_syntaxique/prodeclaration.hh
logiciels/kuri/compilation/intrinseques.cc
logiciels/kuri/compilation/intrinseques.hh
logiciels/kuri/compilation/ipa.cc
logiciels/kuri/compilation/ipa.hh
logiciels/kuri/compilation/message.cc
logiciels/kuri/compilation/message.hh
logiciels/kuri/compilation/options.cc
logiciels/kuri/compilation/options.hh
logiciels/kuri/modules/Compilatrice/code.kuri
logiciels/kuri/modules/Compilatrice/lexèmes.kuri
logiciels/kuri/modules/Compilatrice/ipa.kuri
logiciels/kuri/modules/Compilatrice/message.kuri
logiciels/kuri/modules/Compilatrice/options.kuri
logiciels/kuri/parsage/empreinte_parfaite.hh
logiciels/kuri/parsage/lexemes.cc
logiciels/kuri/parsage/lexemes.hh
logiciels/kuri/representation_intermediaire/machine_virtuelle_intrinseques.cc

.chaines_ajoutées
.vscode/
