[submodule "logiciels/kuri/modules/JSON/JSONTestSuite"]
	path = logiciels/kuri/modules/JSON/JSONTestSuite
	url = https://github.com/nst/JSONTestSuite.git
[submodule "logiciels/kuri/modules_c/openvdb"]
	path = logiciels/kuri/modules_c/openvdb
	url = https://github.com/AcademySoftwareFoundation/openvdb.git
